# Node.js dependencies
node_modules/

# Playwright artifacts
playwright-report/
test-results/

# IDE settings (e.g., for IntelliJ IDEA/WebStorm)
.idea/

# Logs or temporary files (if you have any)
*.log
.DS_Store # macOS specific
npm-debug.log*
yarn-debug.log*
yarn-error.log*
